.content
  margin-top: 10%

%header-base
  font-family: $font
  font-size: 1.3rem

.type-prompt
  @extend %header-base

  color: $secondary

#sentence
  @extend %header-base

  color: $white
  padding-left: 25px

.input-container
  width: 500px

.typing
  font-family: $font
  filter: drop-shadow(5px 5px 4px #4444dd)
  border: none
  background-color: $white
  margin: 20px 0 0
  padding: 30px
  border-radius: 8px