$white: #FFFFFF
$background: #4600FF
$secondary: #00FFD4
$error: #FF899C

$font: League Spartan, sans-serif
$fontSrc: '/static/fonts/leaguespartan-bold.'
@import nav, content, report

@font-face
  font-family: $font
  src: url($fontSrc + 'eot')
  src: url($fontSrc + 'eot?#iefix') format('embedded-opentype'), url($fontSrc + 'woff2') format('woff2'), url($fontSrc + 'woff') format('woff'), url($fontSrc + 'ttf') format('truetype'), url($fontSrc + 'svg#league_spartanbold') format('svg')

html, body
  background-color: $background
  font-size: 100%
  margin: 0
  height: 100%